/* 
    Document   : test
    Created on : Mar 8, 2009, 3:11:26 PM
    Author     : thiagoavelino
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

